body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

h1 {
  font-size: 40px;
  color: black;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #000;
  line-height: 29px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
  padding-top: 10px;
}

.center-heading{
  padding-left: 5%;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #000;
  line-height: 17px;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;

}

.indent{
  padding-left: 5%;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #4a4a4a;
  line-height: 28px;
}

#skills-h3 {
  color: #A52A2A;
  display: none;
}

.brown {
  background-color: #A52A2A;
}

.brown-text {
  color: 	#A52A2A;
}

.black-text {
  font-weight: bold;
  color: #black;
}

.green {
  background-color: #2E8B57;
  padding-bottom: 10px;
  clear:both;
}

.olive {
  background-color: #8FBC8F;
  padding-bottom: 10px;
  clear:both
}

/* TODO: Replace with image later */
#header {
  background-color: 	#5F9EA0;
}


.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
